# python
__pycache__/
*.pyc
.venv/
venv/

# data & outputs (we'll point Kaggle to its own /kaggle/input path)
outputs/
*.bin
*.pt
*.safetensors
*.ckpt
*.h5

checkpoints/
wandb/
lightning_logs/

# notebooks & caches
.ipynb_checkpoints/
*.log

# OS
.DS_Store

# vscode / IDE
.vscode/
.idea/

.env